Source: probot
Section: libraries
Priority: extra
Maintainer: Li, Horace <horace.li@intel.com>
Build-Depends: debhelper, automake, pkg-config, libtool, libglib2.0-dev, libxml2-dev, libgconf2-dev
Standards-Version: 3.7.2

Package: libprobot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Program launcher & manager
 This package is the program launcher as well as manager for UME desktop.
 It provides the interface to home screen UI developers so that they don't
 need to worry about the low level logic.
