Package: libprobot
Source: probot
Version: 0.0.1
Architecture: lpia
Maintainer: Li, Horace <horace.li@intel.com>
Installed-Size: 76
Depends: libc6 (>= 2.7-1), libgconf2-4 (>= 2.13.5), libglib2.0-0 (>= 2.14.0), libxml2 (>= 2.6.27)
Section: libraries
Priority: extra
Description: Program launcher & manager
 This package is the program launcher as well as manager for UME desktop.
 It provides the interface to home screen UI developers so that they don't
 need to worry about the low level logic.
